:host {
  background-color: var(--lumo-contrast-10pct);
  box-sizing: border-box;
  display: block;
  font-size: var(--lumo-font-size-m);
  height: 100%;
  overflow: auto;
  padding: var(--lumo-space-m) var(--lumo-space-l);
}
#dashboard-view {
  background-color: var(--lumo-contrast-10pct);
  box-sizing: border-box;
  display: block;
  font-size: var(--lumo-font-size-m);
  height: 100%;
  overflow: auto;
  padding: var(--lumo-space-m) var(--lumo-space-l);
}

vaadin-board {
  margin: 0 auto;
  max-width: 1800px
  min-width: 1800px
}

/* Wrapper */
.wrapper {
  padding: var(--lumo-space-s);
  display: flex;
}

/* Card */
.card {
  display: flex;
  align-items: baseline;
  background-color: var(--lumo-base-color);
  border-radius: var(--lumo-border-radius);
  box-shadow: var(--lumo-box-shadow-xs);
  color: var(--lumo-card-color);
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  min-width: 1800px;
}

.card h2 {
  margin-bottom: 0;
  margin-top: var(--lumo-space-m);
}

.card h3 {
  margin: var(--lumo-space-m) var(--lumo-space-m) var(--lumo-space-xs);
}

/* Spacing */
.space-m {
  padding: var(--lumo-space-m);
}

/* Text colors */
.error-text {
  color: var(--lumo-error-text-color);
}

.primary-text {
  color: var(--lumo-primary-text-color);
}

.secondary-text {
  color: var(--lumo-secondary-text-color);
}

.success-text {
  color: var(--lumo-success-text-color);
}

/* Charts */
vaadin-chart {
  padding-top: var(--lumo-space-s);
  min-height: 840px;
  min-width: auto;
}

/* Grid */
vaadin-grid {
  height: 300px;
}
